# This is the Milestone 2 file where I perform the data analysis - Ishita Gupta

In [3]:
import pandas as pd
import numpy as np

The data was already pretty much processed and wrangled. I just cleaned it a bit to my preference.

In [4]:
dataSet = pd.read_csv('/Users/ISHITA GUPTA/Documents/COSC301/group29-project/data/raw/Medical_Cost.csv')
dataSet.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
# This is to only access these columns of the dataset

df = dataSet.loc[:,['bmi','smoker','region','charges']]
df.head()

      bmi smoker     region      charges
0  27.900    yes  southwest  16884.92400
1  33.770     no  southeast   1725.55230
2  33.000     no  southeast   4449.46200
3  22.705     no  northwest  21984.47061
4  28.880     no  northwest   3866.85520

In [6]:
df = df.rename(columns={'bmi':'BMI','smoker':'Smoker','region':'Region','charges':'MedicalCosts_USD'})
df.head()

      BMI Smoker     Region  MedicalCosts_USD
0  27.900    yes  southwest       16884.92400
1  33.770     no  southeast        1725.55230
2  33.000     no  southeast        4449.46200
3  22.705     no  northwest       21984.47061
4  28.880     no  northwest        3866.85520

In [7]:
df = df.round({'BMI':2, 'MedicalCosts_USD':3})
df.head()

     BMI Smoker     Region  MedicalCosts_USD
0  27.90    yes  southwest         16884.924
1  33.77     no  southeast          1725.552
2  33.00     no  southeast          4449.462
3  22.70     no  northwest         21984.471
4  28.88     no  northwest          3866.855

In [8]:
df['Smoker_bin'] = np.where((df['Smoker']) == 'yes', 1, 0)
df

        BMI Smoker     Region  MedicalCosts_USD  Smoker_bin
0     27.90    yes  southwest         16884.924           1
1     33.77     no  southeast          1725.552           0
2     33.00     no  southeast          4449.462           0
3     22.70     no  northwest         21984.471           0
4     28.88     no  northwest          3866.855           0
...     ...    ...        ...               ...         ...
1333  30.97     no  northwest         10600.548           0
1334  31.92     no  northeast          2205.981           0
1335  36.85     no  southeast          1629.834           0
1336  25.80     no  southwest          2007.945           0
1337  29.07    yes  northwest         29141.360           1

[1338 rows x 5 columns]

## Task 2 - Method Chaining

In [9]:
df_methodChain = (
    pd.read_csv('/Users/ISHITA GUPTA/Documents/COSC301/group29-project/data/raw/Medical_Cost.csv')
    .loc[:,['bmi','smoker','region','charges']]
    .rename(columns={'bmi':'BMI','smoker':'Smoker','region':'Region','charges':'MedicalCosts_USD'})
    .assign(Smoker_bin=lambda x: np.where((df['Smoker']) == 'yes', 1, 0))
    .round({'BMI':2, 'MedicalCosts_USD':3})
)

In [10]:
df_methodChain

        BMI Smoker     Region  MedicalCosts_USD  Smoker_bin
0     27.90    yes  southwest         16884.924           1
1     33.77     no  southeast          1725.552           0
2     33.00     no  southeast          4449.462           0
3     22.70     no  northwest         21984.471           0
4     28.88     no  northwest          3866.855           0
...     ...    ...        ...               ...         ...
1333  30.97     no  northwest         10600.548           0
1334  31.92     no  northeast          2205.981           0
1335  36.85     no  southeast          1629.834           0
1336  25.80     no  southwest          2007.945           0
1337  29.07    yes  northwest         29141.360           1

[1338 rows x 5 columns]

### Wrapping method chains in a function.

In [11]:
def load_and_process(dataSet):
    
    #Method Chain 1 - to load data
    df1 = (
        pd.read_csv('/Users/ISHITA GUPTA/Documents/COSC301/group29-project/data/raw/Medical_Cost.csv')
        .loc[:,['bmi','smoker','region','charges']]
    )
    
    #Method Chain 2 - To clean and process data
    df2 = (
        df1
        .rename(columns={'bmi':'BMI','smoker':'Smoker','region':'Region','charges':'MedicalCosts_USD'})
        .assign(Smoker_bin=lambda x: np.where((df['Smoker']) == 'yes', 1, 0))
        .round({'BMI':2, 'MedicalCosts_USD':3})
    )
    
    return df2